[Unit]
Description=iptables-persistent

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStart={{ discovered_interpreter_python }} {{ iptables_persistent_script_path }} start --config {{ iptables_persistent_config_path }}
ExecStop={{ discovered_interpreter_python }} {{ iptables_persistent_script_path }} stop --config {{ iptables_persistent_config_path }}

[Install]
WantedBy=multi-user.target
