spec:
  template:
    spec:
      hostNetwork: true
      containers:
      - name: metrics-server
        command:
        - /metrics-server
        - --logtostderr
        - --cert-dir=/tmp
        - --secure-port=8443
        - --kubelet-preferred-address-types=InternalDNS,InternalIP,ExternalIP,Hostname
        - --kubelet-insecure-tls
        - --metric-resolution=60s
        - --kubelet-use-node-status-port
